.authelayout-main-container{
  
    width:20%;
    margin:auto;
    margin-top:10%;
    padding:5px;
 
    border-radius:5px ;
}
.auth_layout_action{
    width:100%;
  
    display: flex;
    justify-content:space-between;

    padding:3px;
    
}
.auth_layout_action > p{
   
    font-size:13px;
    margin:4px;
    color:rgb(196, 196, 196);
  
}
